
/*--------------CUSTOM--------------*/

.form-optional{
  box-shadow: 0 0 0 0 rgba(0,0,0,0), 0 0 0 0 rgba(0,0,0,0), 0 0 0 0 rgba(0,0,0,0);

  border-top: 0 solid #ddd;
  border-right: 0 solid #ddd;
  border-left: 0 solid #ddd;
  margin: 0 0 0 0;

  padding-bottom: 5vh;

  .collapsible-header{
    background-color: rgba(0,0,0,0);
    border-bottom: 0 solid rgba(0,0,0,0);

    position: absolute;
    right: 1vw;
  }

  .collapsible-body{
    border-bottom: 0 solid #ddd;
    padding: 0 0;
    .row{
      margin-bottom: 0px;
    }
  }
  .item{
    padding: 0.5rem 0;
  }
}

/*--------------AMENDS--------------*/

.no-gutter{
  padding: 0 !important;
}

form.modal{max-height: 90%;}
