.form-optional {
  box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent, 0 0 0 0 transparent;
  border-top: 0 solid #ddd;
  border-right: 0 solid #ddd;
  border-left: 0 solid #ddd;
  margin: 0 0 0 0;
  padding-bottom: 5vh; }
  .form-optional .collapsible-header {
    background-color: transparent;
    border-bottom: 0 solid transparent;
    position: absolute;
    right: 1vw; }
  .form-optional .collapsible-body {
    border-bottom: 0 solid #ddd;
    padding: 0 0; }
    .form-optional .collapsible-body .row {
      margin-bottom: 0px; }
  .form-optional .item {
    padding: 0.5rem 0; }

.no-gutter {
  padding: 0 !important; }
